{% extends "students/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Edit Profile" %}{% endblock meta_title %}

{% block status_message %}
  {% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, fix this errors" %}
  </div>
  {% endif %}
{% endblock status_message %}

{% block title %}{% trans "Edit Profile" %}{% endblock title %}

{% block content %}

<a class="btn btn-primary edit_profile" href="{% url "profile" %}">{% trans "Profile" %}</a>
<a class="btn btn-primary edit_profile" href="{% url "edit_profile" user.id %}">{% trans "Edit" %}</a>
<a class="btn btn-primary edit_profile" href="{% url "users_list" %}">{% trans "Users List" %}</a>

{% crispy form %}

{% endblock content %}