{% extends "students/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Group's Form" %}{% endblock meta_title %}

{% block status_message %}
  {% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, fix this errors" %}
  </div>
  {% endif %}
{% endblock status_message %}

{% block title %}{% trans "Group's Form" %}{% endblock title %}

{% block content %}

{% crispy form %}

{% endblock content %}