{% extends "students/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Delete Student" %}}{% endblock meta_title %}

{% block status_message %}
  {% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, fix this errors" %}
  </div>
  {% endif %}
{% endblock status_message %}

{% block title %}{% trans "Delete Student" %}{% endblock title %}

{% block content %}

<form action="{% url "students_delete" object.id %}" method="post">
  {% csrf_token %}
  <p>{% trans "Do you really want delete this student?" %} "{{ object }}"?</p>
  <input type="submit" value="{% trans "Yes" %}" name="delete_button"
  		 class="btn btn-danger" /> <br /> <br />
  <a href="{% url "home" %}" class="btn btn-info">{% trans "No" %}</a> 
</form>
{% endblock content %}